<!DOCTYPE html>
<html>
  <head>
    <title>All Conversion Routes | Bitcoin Price Converter</title>
    <link rel="stylesheet" href="../public/css/all.css" />
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" />
    <link rel="icon" href="../public/favicon.ico" />
    <script src='../public/js/jquery-3.2.1.min.js'></script>
    <script src='../public/js/bootstrap.min.js'></script>
  </head>
  <body>
    <div class="container-fluid">
      <h3>Fiat Currencies</h3>
      <ul>
        <li><a href='/btc/usd'>USD</a></li>
        <li><a href='/btc/aud'>AUD</a></li>
        <li><a href='/btc/brl'>BRL</a></li>
        <li><a href='/btc/cad'>CAD</a></li>
        <li><a href='/btc/chf'>CHF</a></li>
        <li><a href='/btc/clp'>CLP</a></li>
        <li><a href='/btc/cny'>CNY</a></li>
        <li><a href='/btc/dkk'>DKK</a></li>
        <li><a href='/btc/eur'>EUR</a></li>
        <li><a href='/btc/gbp'>GBP</a></li>
        <li><a href='/btc/hkd'>HKD</a></li>
        <li><a href='/btc/inr'>INR</a></li>
        <li><a href='/btc/isk'>ISK</a></li>
        <li><a href='/btc/jpy'>JPY</a></li>
        <li><a href='/btc/krw'>KRW</a></li>
        <li><a href='/btc/nzd'>NZD</a></li>
        <li><a href='/btc/pln'>PLN</a></li>
        <li><a href='/btc/rub'>RUB</a></li>
        <li><a href='/btc/sek'>SEK</a></li>
        <li><a href='/btc/sgd'>SGD</a></li>
        <li><a href='/btc/thb'>THB</a></li>
        <li><a href='/btc/twd'>TWD</a></li>
      </ul>
      <br>
      <h3>Cryptocurrencies</h3>
      <ul>
        <li><a href='/btc/ltc'>LTC</a></li>
        <li><a href='/btc/doge'>DOGE</a></li>
        <li><a href='/btc/vtc'>VTC</a></li>
        <li><a href='/btc/ppc'>PPC</a></li>
        <li><a href='/btc/ftc'>FTC</a></li>
        <li><a href='/btc/rdd'>RDD</a></li>
        <li><a href='/btc/nxt'>NXT</a></li>
        <li><a href='/btc/dash'>DASH</a></li>
        <li><a href='/btc/pot'>POT</a></li>
        <li><a href='/btc/blk'>BLK</a></li>
        <li><a href='/btc/emc2'>EMC2</a></li>
        <li><a href='/btc/xmy'>XMY</a></li>
        <li><a href='/btc/aur'>AUR</a></li>
        <li><a href='/btc/efl'>EFL</a></li>
        <li><a href='/btc/gld'>GLD</a></li>
        <li><a href='/btc/slr'>SLR</a></li>
        <li><a href='/btc/ptc'>PTC</a></li>
        <li><a href='/btc/grs'>GRS</a></li>
        <li><a href='/btc/nlg'>NLG</a></li>
        <li><a href='/btc/rby'>RBY</a></li>
        <li><a href='/btc/xwc'>XWC</a></li>
        <li><a href='/btc/mona'>MONA</a></li>
        <li><a href='/btc/thc'>THC</a></li>
        <li><a href='/btc/enrg'>ENRG</a></li>
        <li><a href='/btc/erc'>ERC</a></li>
        <li><a href='/btc/vrc'>VRC</a></li>
        <li><a href='/btc/cure'>CURE</a></li>
        <li><a href='/btc/xmr'>XMR</a></li>
        <li><a href='/btc/cloak'>CLOAK</a></li>
        <li><a href='/btc/start'>START</a></li>
        <li><a href='/btc/kore'>KORE</a></li>
        <li><a href='/btc/xdn'>XDN</a></li>
        <li><a href='/btc/trust'>TRUST</a></li>
        <li><a href='/btc/nav'>NAV</a></li>
        <li><a href='/btc/xst'>XST</a></li>
        <li><a href='/btc/btcd'>BTCD</a></li>
        <li><a href='/btc/via'>VIA</a></li>
        <li><a href='/btc/pink'>PINK</a></li>
        <li><a href='/btc/ioc'>IOC</a></li>
        <li><a href='/btc/cann'>CANN</a></li>
        <li><a href='/btc/sys'>SYS</a></li>
        <li><a href='/btc/neos'>NEOS</a></li>
        <li><a href='/btc/dgb'>DGB</a></li>
        <li><a href='/btc/burst'>BURST</a></li>
        <li><a href='/btc/excl'>EXCL</a></li>
        <li><a href='/btc/swift'>SWIFT</a></li>
        <li><a href='/btc/dope'>DOPE</a></li>
        <li><a href='/btc/block'>BLOCK</a></li>
        <li><a href='/btc/aby'>ABY</a></li>
        <li><a href='/btc/byc'>BYC</a></li>
        <li><a href='/btc/xmg'>XMG</a></li>
        <li><a href='/btc/blitz'>BLITZ</a></li>
        <li><a href='/btc/bay'>BAY</a></li>
        <li><a href='/btc/fair'>FAIR</a></li>
        <li><a href='/btc/spr'>SPR</a></li>
        <li><a href='/btc/vtr'>VTR</a></li>
        <li><a href='/btc/xrp'>XRP</a></li>
        <li><a href='/btc/game'>GAME</a></li>
        <li><a href='/btc/coval'>COVAL</a></li>
        <li><a href='/btc/nxs'>NXS</a></li>
        <li><a href='/btc/xcp'>XCP</a></li>
        <li><a href='/btc/bitb'>BITB</a></li>
        <li><a href='/btc/geo'>GEO</a></li>
        <li><a href='/btc/fldc'>FLDC</a></li>
        <li><a href='/btc/grc'>GRC</a></li>
        <li><a href='/btc/flo'>FLO</a></li>
        <li><a href='/btc/nbt'>NBT</a></li>
        <li><a href='/btc/mue'>MUE</a></li>
        <li><a href='/btc/xem'>XEM</a></li>
        <li><a href='/btc/clam'>CLAM</a></li>
        <li><a href='/btc/dmd'>DMD</a></li>
        <li><a href='/btc/gam'>GAM</a></li>
        <li><a href='/btc/sphr'>SPHR</a></li>
        <li><a href='/btc/ok'>OK</a></li>
        <li><a href='/btc/snrg'>SNRG</a></li>
        <li><a href='/btc/pkb'>PKB</a></li>
        <li><a href='/btc/cpc'>CPC</a></li>
        <li><a href='/btc/aeon'>AEON</a></li>
        <li><a href='/btc/eth'>ETH</a></li>
        <li><a href='/btc/gcr'>GCR</a></li>
        <li><a href='/btc/tx'>TX</a></li>
        <li><a href='/btc/bcy'>BCY</a></li>
        <li><a href='/btc/exp'>EXP</a></li>
        <li><a href='/btc/infx'>INFX</a></li>
        <li><a href='/btc/omni'>OMNI</a></li>
        <li><a href='/btc/amp'>AMP</a></li>
        <li><a href='/btc/agrs'>AGRS</a></li>
        <li><a href='/btc/xlm'>XLM</a></li>
        <li><a href='/btc/club'>CLUB</a></li>
        <li><a href='/btc/vox'>VOX</a></li>
        <li><a href='/btc/emc'>EMC</a></li>
        <li><a href='/btc/fct'>FCT</a></li>
        <li><a href='/btc/maid'>MAID</a></li>
        <li><a href='/btc/egc'>EGC</a></li>
        <li><a href='/btc/sls'>SLS</a></li>
        <li><a href='/btc/rads'>RADS</a></li>
        <li><a href='/btc/dcr'>DCR</a></li>
        <li><a href='/btc/safex'>SAFEX</a></li>
        <li><a href='/btc/bsd'>BSD</a></li>
        <li><a href='/btc/xvg'>XVG</a></li>
        <li><a href='/btc/pivx'>PIVX</a></li>
        <li><a href='/btc/xvc'>XVC</a></li>
        <li><a href='/btc/meme'>MEME</a></li>
        <li><a href='/btc/steem'>STEEM</a></li>
        <li><a href='/btc/2give'>2GIVE</a></li>
        <li><a href='/btc/lsk'>LSK</a></li>
        <li><a href='/btc/pdc'>PDC</a></li>
        <li><a href='/btc/brk'>BRK</a></li>
        <li><a href='/btc/dgd'>DGD</a></li>
        <li><a href='/btc/waves'>WAVES</a></li>
        <li><a href='/btc/rise'>RISE</a></li>
        <li><a href='/btc/lbc'>LBC</a></li>
        <li><a href='/btc/sbd'>SBD</a></li>
        <li><a href='/btc/brx'>BRX</a></li>
        <li><a href='/btc/etc'>ETC</a></li>
        <li><a href='/btc/strat'>STRAT</a></li>
        <li><a href='/btc/unb'>UNB</a></li>
        <li><a href='/btc/synx'>SYNX</a></li>
        <li><a href='/btc/trig'>TRIG</a></li>
        <li><a href='/btc/ebst'>EBST</a></li>
        <li><a href='/btc/vrm'>VRM</a></li>
        <li><a href='/btc/seq'>SEQ</a></li>
        <li><a href='/btc/xaur'>XAUR</a></li>
        <li><a href='/btc/sngls'>SNGLS</a></li>
        <li><a href='/btc/rep'>REP</a></li>
        <li><a href='/btc/shift'>SHIFT</a></li>
        <li><a href='/btc/ardr'>ARDR</a></li>
        <li><a href='/btc/xzc'>XZC</a></li>
        <li><a href='/btc/neo'>NEO</a></li>
        <li><a href='/btc/zec'>ZEC</a></li>
        <li><a href='/btc/zcl'>ZCL</a></li>
        <li><a href='/btc/iop'>IOP</a></li>
        <li><a href='/btc/golos'>GOLOS</a></li>
        <li><a href='/btc/ubq'>UBQ</a></li>
        <li><a href='/btc/kmd'>KMD</a></li>
        <li><a href='/btc/gbg'>GBG</a></li>
        <li><a href='/btc/sib'>SIB</a></li>
        <li><a href='/btc/ion'>ION</a></li>
        <li><a href='/btc/lmc'>LMC</a></li>
        <li><a href='/btc/qwark'>QWARK</a></li>
        <li><a href='/btc/crw'>CRW</a></li>
        <li><a href='/btc/swt'>SWT</a></li>
        <li><a href='/btc/mln'>MLN</a></li>
        <li><a href='/btc/ark'>ARK</a></li>
        <li><a href='/btc/dyn'>DYN</a></li>
        <li><a href='/btc/tks'>TKS</a></li>
        <li><a href='/btc/music'>MUSIC</a></li>
        <li><a href='/btc/dtb'>DTB</a></li>
        <li><a href='/btc/incnt'>INCNT</a></li>
        <li><a href='/btc/gbyte'>GBYTE</a></li>
        <li><a href='/btc/gnt'>GNT</a></li>
        <li><a href='/btc/nxc'>NXC</a></li>
        <li><a href='/btc/edg'>EDG</a></li>
        <li><a href='/btc/lgd'>LGD</a></li>
        <li><a href='/btc/trst'>TRST</a></li>
        <li><a href='/btc/wings'>WINGS</a></li>
        <li><a href='/btc/rlc'>RLC</a></li>
        <li><a href='/btc/gno'>GNO</a></li>
        <li><a href='/btc/gup'>GUP</a></li>
        <li><a href='/btc/lun'>LUN</a></li>
        <li><a href='/btc/apx'>APX</a></li>
        <li><a href='/btc/hmq'>HMQ</a></li>
        <li><a href='/btc/ant'>ANT</a></li>
        <li><a href='/btc/sc'>SC</a></li>
        <li><a href='/btc/bat'>BAT</a></li>
        <li><a href='/btc/zen'>ZEN</a></li>
        <li><a href='/btc/1st'>1ST</a></li>
        <li><a href='/btc/qrl'>QRL</a></li>
        <li><a href='/btc/crb'>CRB</a></li>
        <li><a href='/btc/ptoy'>PTOY</a></li>
        <li><a href='/btc/myst'>MYST</a></li>
        <li><a href='/btc/cfi'>CFI</a></li>
        <li><a href='/btc/bnt'>BNT</a></li>
        <li><a href='/btc/nmr'>NMR</a></li>
        <li><a href='/btc/snt'>SNT</a></li>
        <li><a href='/btc/dct'>DCT</a></li>
        <li><a href='/btc/xel'>XEL</a></li>
        <li><a href='/btc/mco'>MCO</a></li>
        <li><a href='/btc/adt'>ADT</a></li>
        <li><a href='/btc/fun'>FUN</a></li>
        <li><a href='/btc/pay'>PAY</a></li>
        <li><a href='/btc/mtl'>MTL</a></li>
        <li><a href='/btc/storj'>STORJ</a></li>
        <li><a href='/btc/adx'>ADX</a></li>
        <li><a href='/btc/omg'>OMG</a></li>
        <li><a href='/btc/cvc'>CVC</a></li>
        <li><a href='/btc/part'>PART</a></li>
        <li><a href='/btc/qtum'>QTUM</a></li>
        <li><a href='/btc/bcc'>BCC</a></li>
        <li><a href='/btc/dnt'>DNT</a></li>
        <li><a href='/btc/ada'>ADA</a></li>
        <li><a href='/btc/mana'>MANA</a></li>
        <li><a href='/btc/salt'>SALT</a></li>
        <li><a href='/btc/tix'>TIX</a></li>
        <li><a href='/btc/rcn'>RCN</a></li>
        <li><a href='/btc/vib'>VIB</a></li>
        <li><a href='/btc/mer'>MER</a></li>
        <li><a href='/btc/powr'>POWR</a></li>
        <li><a href='/btc/btg'>BTG</a></li>
        <li><a href='/btc/eng'>ENG</a></li>
      </ul>
      <div class="space2"></div>
      <p class="cip"><a href="/">Home</a></p>
      <hr>
      <h5 class="cip">Client IP: <%= cIP %></h5>
    </div>
  </body>
</html>
