<!DOCTYPE html>
<html>
  <head>
    <title>Bitcoin Price Converter</title>
    <link rel="stylesheet" href="../public/css/nf.style.css" />
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" />
    <link rel="icon" href="../public/favicon.ico" />
    <script src='../public/js/jquery-3.2.1.min.js'></script>
    <script src='../public/js/bootstrap.min.js'></script>
  </head>
  <body>
    <div class="container-fluid">
      <h1>Bitcoin Price Converter</h1>
      <h4>Fun Fact: This converter supports almost 220 currencies!</h4>
      <div class="space1"></div>
      <p>~ Popular Conversion Routes ~</p>
      <div class="row">
        <p><a href="/btc/usd">USD</a> | <a href="/btc/inr">INR</a> | <a href="/btc/eur">EUR</a> | <a href="/btc/aud">AUD</a> | <a href="/btc/sgd">SGD</a> | <a href="/btc/nzd">NZD</a></p>
        <p><a href="/btc/ltc">LTC</a> | <a href="/btc/eth">ETH</a> | <a href="/btc/doge">DOGE</a> | <a href="/btc/xmr">XMR</a> | <a href="/btc/ppc">PPC</a> | <a href="/btc/nxt">NXT</a></p>
        <p><a href="/">Home</a> | <a href="/all">List of all currencies</a></p>
      </div>
      <div class="space2"></div>
      <hr>
      <h5 id="cip">Client IP: <%= cIP %></h5>
    </div>
  </body>
</html>
