html
  head
    title Bitcoin Price Converter
    link(rel="icon" href="public/favicon.ico")
    link(rel="stylesheet" href="public/css/style.css")
  body
    h1 Bitcoin Price Converter
    h3 Use valid routes ( /btc/insertCurrency ) in the URL to view conversion rates.
