html
  head
    title Bitcoin Price Converter
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow")
  body
    h1(style='font-family: Barlow;') Bitcoin Price Converter
    h3(style='font-family: Barlow;') Use valid routes ( /btc/insertCurrency ) in the URL to view conversion rates.
