html
  head
    title Invalid Conversion Route | Bitcoin Price Converter
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow")
  body
    h1(style='font-family: Barlow;') Invalid Conversion Route
    p(style='font-family: Barlow;') The conversion route you are looking for isn't valid.
